@{
    ViewData["Title"] = "Kullanıcı";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link rel="stylesheet" href="https://cdn.datatables.net/buttons/3.2.0/css/buttons.dataTables.css" />
<div class="container">
    <div class="page-inner">
        <div class="d-flex align-items-left align-items-md-center flex-column flex-md-row pt-2 pb-4">
            <div>
                <h3 class="fw-bold mb-3">Kullanıcı</h3>
            </div>
            <div class="ms-md-auto py-2 py-md-0">
                <a href="/User/NewUser" class="btn btn-primary btn-round">Kullanıcı Ekle</a>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header">
                        <h4 class="card-title">Basic</h4>
                    </div>
                    <div class="card-body">
                        <div class="table-responsive">
                            <table id="user-datatables" class="display table table-striped table-hover">
                                <thead>
                                    <tr>
                                        <th>DÜZENLE</th>
                                        <th>AD</th>
                                        <th>SOYAD</th>
                                        <th>KULLANICI ADI</th>
                                        <th>HASH ŞİFRE</th>
                                    </tr>
                                </thead>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Modal -->
<div class="modal fade" id="updateUserModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="false">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Güncelle</h5>
                <p class="text-danger">Eğer Şifreyi Güncellemeyeceksiniz Şifre alanını değiştirmeyiniz</p>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-12 col-lg-6">
                        <input type="hidden" id="userid" name="Id" value="0">
                        <div class="form-group">
                            <label for="name">Adı</label>
                            <input type="email" class="form-control" id="name" placeholder="Adı" />
                        </div>
                        <div class="form-group">
                            <label for="surname">Soyadı</label>
                            <input type="email" class="form-control" id="surname" placeholder="Soyadı" />
                        </div>
                        <div class="form-group">
                            <label for="username">Kullanıcı Adı</label>
                            <input type="email" class="form-control" id="username" placeholder="Kullanıcı Adı" />
                        </div>
                        <div class="form-group">
                            <label for="password">Hash Şifre</label>
                            <input type="email" class="form-control" id="password" placeholder="Hash Şifre" />
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" onclick="btnUpdateClick()" id="btnUpdate">Güncelle</button>
            </div>
        </div>
    </div>
</div>
<script src="https://cdn.datatables.net/1.10.20/js/jquery.dataTables.min.js"></script>
<script src="https://cdn.datatables.net/1.10.20/js/dataTables.bootstrap.min.js"></script>
<script src="/js/user/user.js"></script>
